In [ ]:
# basic in numpy
import numpy as np
lists = np.array([1,2,3,4])
print(lists)

[1 2 3 4]

In [ ]:
# eye()
import numpy as np
x = np.eye(5)
print(x)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [ ]:
# random.randint()
import numpy as np
from numpy import random
x = random.randint(1,10,(3,3)) # start , end , (rows,columns)
print(x)

[[4 8 7]
 [1 2 9]
 [4 4 7]]

In [ ]:
# linspace()
import numpy as np
x = np.linspace(1,10,5) # start , end , number of elements
print(x)

[ 1.    3.25  5.5   7.75 10.  ]

In [ ]:
#around()
import numpy as np
nos = np.array([2.6])
print(np.around(nos))

[3.]

In [ ]:
#trunc()
import numpy as np
nos = np.array([2.9])
print(np.trunc(nos))

[2.]

In [ ]:
#fix()
#  nearest integer towards zero.
import numpy as np
nos = np.array([2.9])
print(np.fix(nos))

[2.]

In [ ]:
# random()
from numpy import random
nos = random.randint(10)
print(nos)

5

In [ ]:
# rand() method returns a random float between 0 and 1.
from numpy import random
nos = random.rand()
print(nos)

0.7248633133958765

In [ ]:
# randint() method takes a size parameter
from numpy import random
nos = random.randint(10,size=(3))
print(nos)

[8 3 4]

In [ ]:
from numpy import random
nos = random.randint(5, size=(2,3))
print(nos)

[[1 2 1]
 [0 1 1]]

In [ ]:
# choice() method allows you to generate a random value based on an array of values.
from numpy import random
nos = random.choice([4,6,2])
print(nos)

6

In [ ]:
from numpy import random
nos = random.choice([8,6,4,2], size=(2,3))
print(nos)

[[4 6 4]
 [2 8 8]]

In [ ]:
# Shuffle means changing arrangement of elements in-place. i.e. in the array itself.
import numpy as np
from numpy import random
nos = np.array([5,10,15,20])
random.shuffle(nos)
print(nos)

[15 20  5 10]

In [ ]:
# Count() function
import numpy
c = ['pooja','pramanik','happy']
print(c)
print(" ")
print("Count of 'a': ",np.char.count(c, 'a'))
print("Count of 'p': ",np.char.count(c, 'p'))

['pooja', 'pramanik', 'happy']

Count of 'a':  [1 2 1]
Count of 'p':  [1 1 2]

In [ ]:
# Dot() function
import numpy
mat_1 = numpy.array([1,2])
mat_2 = numpy.array([1,2])
result = mat_1.dot(mat_2)
print(result)

5

In [ ]:
# Shape() method
import numpy as np
s = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(s)
print("Rows and columns: ",s.shape)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
Rows and columns:  (3, 3)

In [ ]:
# reshape() function
import numpy as np
r = np.arange(1,11)
print(r)
print("Reshape() function:")
print(r.reshape(2,5))

[ 1  2  3  4  5  6  7  8  9 10]
Reshape() function:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [ ]:
# round() function
import numpy as np
r = np.round([2.6 , 5.60])
print(r)

[3. 6.]

In [ ]:
# add() function
import numpy as np
a = np.array([10])
b = np.array([20])
result = np.add(a,b)
print(result)

[30]

In [ ]:
# tile() function
import numpy as np
t = np.array([1,2,3,4])
repeat = 3
print(np.tile(t,repeat))

[1 2 3 4 1 2 3 4 1 2 3 4]

In [ ]:
# mod() function
import numpy as np
n1 = 6
n2 = 4
print(np.mod(n1,n2))

2

In [ ]:
# mean() function
import numpy as np
m = np.array([1,2,3,4,5])
print("Average: ",np.mean(m))

Average:  3.0

In [ ]:
# dtype ()
import numpy as np
p = np.array([1,2,3,4,5])
print("dtype:     ",p.dtype)
print("dimension: ",p.ndim)
print("itemsize:  ",p.itemsize) # itemsize refer to the size of the elements in the given arrray
print("Size:      ",p.size) # size means number of elements in the given array
print("Shape:     ",p.shape) # shape will display the total number of rows and columns

dtype:      int64
dimension:  1
itemsize:   8
Size:       5
Shape:      (5,)

In [ ]:
# zeros() and ones()
import numpy as np
p = np.zeros([2,2] ,dtype=int)
q = np.ones([2,2] ,dtype=int)
print(p)
print(" ")
print(q)

[[0 0]
 [0 0]]

[[1 1]
 [1 1]]

In [ ]:
#Q Create a Numpy array filled with all zeros | Python
import numpy as np
item = np.zeros([2,2])
print(item)

[[0. 0.]
 [0. 0.]]

In [ ]:
#Q Create a Numpy array filled with all ones
import numpy as np
item = np.ones([3,3],dtype=int)
print(item)

[[1 1 1]
 [1 1 1]
 [1 1 1]]

In [ ]:
#Q Check whether a Numpy array contains a specified row
import numpy as np
item = np.array([[1,2,3],[4,5,6,],[7,8,9]])
print(item)
print([1,2,3] in item.tolist())
print([11,1,2] in item.tolist())

[[1 2 3]
 [4 5 6]
 [7 8 9]]
True
False

In [ ]:
#Q 
import numpy as np
  
num_1d = np.arange(5)
print("One dimensional array:")
print(num_1d)
  
num_2d = np.arange(10).reshape(2,5)
print("\nTwo dimensional array:")
print(num_2d)
  
# Combine 1-D and 2-D arrays and display 
# their elements using numpy.nditer() 
for x, y in np.nditer([num_1d, num_2d]):
    print("%d:%d" % (x, y),)

One dimensional array:
[0 1 2 3 4]

Two dimensional array:
[[0 1 2 3 4]
 [5 6 7 8 9]]
0:0
1:1
2:2
3:3
4:4
0:5
1:6
2:7
3:8
4:9

In [ ]:
#Q Combining a one and a two-dimensional NumPy Array
import numpy as np
list1 = np.arange(1,6)
print(list1)
list2 = np.arange(1,11).reshape(2,5)
print(list2)
for x, y in np.nditer([list1, list2]):
  print("%d:%d" % (x, y),)

[1 2 3 4 5]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
1:1
2:2
3:3
4:4
5:5
1:6
2:7
3:8
4:9
5:10

In [ ]:
#Q  return the index of all items that has the value 4 from the array below:
import numpy as np
nos = np.array([1,4,2,4,4,4])
nos = np.where(nos==4)
print(nos)

(array([1, 3, 4, 5]),)

In [ ]:
#Q Sort the elements 
import numpy as np
nos = np.array([5,8,7,1,3])
result = np.sort(nos)
print(result)

[1 3 5 7 8]

In [ ]:
#Q cumsum()
import numpy as np
nos = np.array([1,2,3,4])
nos = np.cumsum(nos)
print(nos)

[ 1  3  6 10]

In [ ]:
# NOTE  NUMPY

In [ ]:
# np.std(lists) -> standard deviation

In [ ]:

import numpy as np
lists = np.array([[4,2],[2,5]])
print(lists.itemsize) # itemsize -> it will fetch the byte size
print(lists.dtype)  # dytpe -> will fetch the type of data it is 
print(lists.ndim) # ndim -> will fetch the dimension
print(lists.size) # size -> it will fetch the count of the total elements present in list
print(lists.shape) # shape -> it will fetch the no. of rows n column

8
int64
2
4
(2, 2)

In [ ]:
import numpy as np
lists = np.arange(1,11) #arange -> this work as range() function in python syntax:- (start, end, step)
print(lists)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
lists = np.linspace(1,2,5) #linspace -> it will  returns an evenly spaced sequence of numbers
print(lists)

[1.   1.25 1.5  1.75 2.  ]

In [ ]:
import numpy as np
lists = np.array([[4,5],[5,7],[4,4]])
print(lists.shape)
lists.reshape(2,3)
lists.ravel() # it will flaten the list inshort in will make it 1 dimensional array

(3, 2)

array([4, 5, 5, 7, 4, 4])

In [ ]:
lists = np.array([4,2], dtype=np.int32)
print(lists.dtype)

int32

In [ ]:
import numpy as np
lists = np.array([1,2,4,3,5])
print(lists.min()) # min() -> it will fetch the minimum no.
print(lists.max()) # max()  -> it will fetch the maximum no.
print(lists.sum()) # sum() -> it will total(sum) all the elements

1
5
15

In [ ]:
# axis 0 = column
# axis 1 = row
import numpy as np
lists = np.array([[1,2],[3,4],[5,6]])
print(lists.sum(axis=0))
print(lists.sum(axis=1))

[ 9 12]
[ 3  7 11]

In [ ]:
import numpy as np
lists = np.array([16,25])
print(np.sqrt(lists)) # sqrt (square root)

[4. 5.]

In [ ]:
import numpy as np
num_1 = np.array([[1,2],[3,4]])
num_2 = np.array([[1,2],[3,4]])
r = num_1 + num_2
print("Sum\n",r) # mathematical operation are possible in numpy (+,-,*,/)
print("Matrix product : \n",num_1.dot(num_2))

Sum
 [[2 4]
 [6 8]]
Matrix product :
 [[ 7 10]
 [15 22]]

In [ ]:
import numpy as np
lists = np.array([1,2,3,4,5])
print(lists[1:3]) # indexing -> with the help of index value one can fetch elements from list
print(lists[-1]) # np support negative index as well

[2 3]
5

In [ ]:
import numpy as np
lists = np.array([[1,2,3],[5,4,7],[7,5,2]])
print(lists[1,2]) # here 1 indicate row1 & 2 indicate column2

7

In [ ]:
import numpy as np
lists = np.array([[1,2,3],[5,4,7],[7,5,2]])
for i in lists:
  print(i)

[1 2 3]
[5 4 7]
[7 5 2]

In [ ]:
import numpy as np
lists = np.array([[1,2,3],[5,4,7],[7,5,2]])
for i in lists.flat:
  print(i)

1
2
3
5
4
7
7
5
2

In [ ]:
import numpy as np
x = np.arange(6).reshape(3,2)
y = np.arange(6).reshape(3,2)
print("Mat_1 :\n",x)
print("Mat_2 :\n",y)
print("Result of  vstack :",np.vstack((x,y)))

Mat_1 :
 [[0 1]
 [2 3]
 [4 5]]
Mat_2 :
 [[0 1]
 [2 3]
 [4 5]]
Result of  vstack : [[0 1]
 [2 3]
 [4 5]
 [0 1]
 [2 3]
 [4 5]]

In [ ]:
np.vstack((x,y)) # np.vstack(()) {vertical stacking}

array([[0, 1],
       [2, 3],
       [4, 5],
       [0, 1],
       [2, 3],
       [4, 5]])

In [ ]:
np.hstack((x,y)) #np.hstack(()) {horizontal stacking}

array([[0, 1, 0, 1],
       [2, 3, 2, 3],
       [4, 5, 4, 5]])

In [ ]:
import numpy as np
a = np.arange(30).reshape(2,15)
print(a)

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]]

In [ ]:
np.hsplit(a,3) # np.hsplit

[array([[ 0,  1,  2,  3,  4],
        [15, 16, 17, 18, 19]]), array([[ 5,  6,  7,  8,  9],
        [20, 21, 22, 23, 24]]), array([[10, 11, 12, 13, 14],
        [25, 26, 27, 28, 29]])]

In [ ]:
result = np.hsplit(a, 3)
print(result[0])

[[ 0  1  2  3  4]
 [15 16 17 18 19]]

In [ ]:
result[1]

array([[ 5,  6,  7,  8,  9],
       [20, 21, 22, 23, 24]])

In [ ]:
result[2]

array([[10, 11, 12, 13, 14],
       [25, 26, 27, 28, 29]])

In [ ]:
np.vsplit(a,2) # np.vsplit

[array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]]),
 array([[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])]

In [ ]:
result = np.vsplit(a,2)
result[0]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]])

In [ ]:
import numpy as np
lists = np.arange(12).reshape(3,4)
print(lists)
print(" ")
b = lists > 4
print(b)
print(" ")
print(b.dtype) # dtype -> it will return the type of value
print(" ")
lists[b] # it return those numbers which is True

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

[[False False False False]
 [False  True  True  True]
 [ True  True  True  True]]

bool

array([ 5,  6,  7,  8,  9, 10, 11])

In [ ]:
lists[b] = 4 # this method will replace the value which one have given
lists

array([[0, 1, 2, 3],
       [4, 4, 4, 4],
       [4, 4, 4, 4]])

In [ ]:
import numpy as np
lists = np.array([[1,3],[2,8]])
for i in lists.flatten(): # flatten()
  print(i)

1
3
2
8

In [ ]:
 for x in np.nditer(lists, order='c'): # oder= 'c' mean rows wise
    print(x)

1
3
2
8

In [ ]:
for i in np.nditer (lists,order="f"): # order = " f " means column wise
  print(i)

1
2
3
8

In [ ]:
# Q) How to replace items that satisfy a condition without affecting the original array?

In [ ]:
# Q) How to stack two arrays vertically?

import numpy as np
list_1 = np.arange(10).reshape(2,-1)
list_2 = np.arange(11,21).reshape(2,-1)
print(list_1)
print(list_2)
np.vstack([list_1,list_2]) # vstack in arrange the stack in vetical order

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[11 12 13 14 15]
 [16 17 18 19 20]]

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [ ]:
# Q)  How to stack two arrays horizontally?
import numpy as np
x = np.arange(21,31)
y = np.arange(31,41)
print(x)
print(y)
np.hstack([x,y])

[21 22 23 24 25 26 27 28 29 30]
[31 32 33 34 35 36 37 38 39 40]

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40])

In [ ]:
# Element-wise addition of 2 numpy arrays
import numpy as n
num1 = n.array([1,2,3,4])
num2 = n.array([5,6,7,8])
print(num1 + num2)

[ 6  8 10 12]